body {

    text-align: center;
    background-color: rgb(210, 161, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

